

#hud-scene-debugger {
    position:         fixed;
    right:            0;
    top:              0;
    width:            200px;
    height:           200px;
    background-color: #000000;
    p {
        color: @cWhite;
    }
}

#github-ribbon { display: none }