@import "imports";

#hud {
    @height: @dHudHeight;
    z-index:  @zHud;
    right:    0;
    bottom:   0;
    left:     0;
    position: absolute;

    .power-up { .powerUp() }

    .skill-basket {
        @padding: 2px;
        position:         absolute;
        bottom:           0;
        background-color: #000000;
        left:             0;
        height:           @height - @padding;
        width:            60%;
        margin:           0;
        padding:          @padding 0 0 @padding;
        display:          flex;
        flex-direction:   column;
        flex-wrap:        wrap;
        justify-content:  flex-start;
        align-items:      flex-start;
        align-content:    flex-start;
        li {
            @tileSize: ((@height - 5*@padding) / 2 / 2);
            @borderSize: (@tileSize / 5);
            margin:                     0 @padding @padding 0;
            display:                    block;
            float:                      left;
            text-align:                 center;
            transition-duration:        200ms;
            transition-timing-function: @fxEaseOutCirc;
            transition-property:        height, width, font-size;
            background-repeat:          no-repeat;
            background-color:           @cLight-blue-300;
            background-position:        center;
            background-size:            contain;
            border:                     (.5* @borderSize) solid @cLight-blue-300;
            overflow:                   hidden;
            font-size:                  10px;
            box-sizing:                 border-box;
            cursor:                     pointer;
            &.unknown {
                display: none;
                width:   0;
                height:  0;
            }
            &.beginner {
                width:  @tileSize;
                height: @tileSize;
            }
            &.intermediate {
                width:            @tileSize;
                height:           @tileSize * 2 + @padding;
                background-color: @cBlue;
                border-color:     @cBlue
            }
            &.expert {
                background-color: @cPurple;
                border-color:     @cPurple
            }
            &.expert, &.selected {
                width:  @tileSize * 2+@padding;
                height: @tileSize * 2+@padding;
            }
            &.soft {
                background-color: @cYellow;
                border-color:     @cYellow
            }
            &.selected, &:hover {
                //                width:     @tileSize * 4+2*@padding;
                //                height:    @tileSize * 4+2*@padding;
                background-color: @cGreen;
                border-color:     @cGreen
            }
        }
    }

    .timeline {
        right:            0;
        width:            40%;
        height:           @height;
        padding:          0;
        bottom:           0;
        position:         absolute;
        background-color: #000000;

        .event-wrapper {
            .event {
                margin:           20px 0;
                background-color: #000000;
                font-family:      sans-serif;
                font-weight:      normal;
                background:       url("../assets/graphics/hud/timeline/timeline-avatar-01.gif") no-repeat 0 0;

                h3 {
                    margin:      0 0 0 50px;
                    padding:     0;
                    font-weight: normal;
                    .name { font-weight: bold; color: #00a2ff }
                }
                p.timestamp {
                    margin:  0 0 0 50px;
                    padding: 0;
                    color:   #999999;
                }
                p.message {
                    margin:  0;
                    padding: 5px 0;
                    color:   #ffffff;
                }
            }
        }
    }

}

#hud-height-display {
    position:    absolute;
    top:         150px;
    left:        10px;
    font-size:   100px;
    font-weight: bold;
    &:after {
        content: 'cm'
    }
}

#hud-year-display {
    position:         absolute;
    top:              10px;
    left:             10px;
    font-size:        100px;
    font-weight:      bold;
    width:            200px;
    background-color: @cBlack;

    .labels {
        font-size:   20px;
        line-height: 20px;
        padding:     5px;
        margin:      0;
        color:       @cWhite;
        text-align:  center;
        .start { float: left }
        .end { float: right }
        .start, .end { font-size: 12px }
    }

    .progress-bar {
        position:   relative;
        width:      200px;
        height:     22px;
        background: url('../assets/graphics/hud/year-display/progress-background.gif') no-repeat 0 0;
        .progress {
            position:   absolute;
            width:      0;
            left:       0;
            top:        0;
            bottom:     0;
            background: url('../assets/graphics/hud/year-display/progress.gif') no-repeat 0 0;
        }
    }
}