@import "imports";
@import "hud";
@import "scene";


@import "fonts";



@cMainBlue: #00a2ff;
@cMainGreen: #72ff00;
@cMainPink: #ff0084;
@cMainYellow: #ffc600;

@cMatteWhite: #e7e7e5;
@cMatteYellow: #f6c74b;
@cMatteOrange: #f6943f;
@cMattePink: #c75093;
@cMatteBlue: #15a2c1;
@cMatteGreen: #8dc45c;


.backgroundPattern(@colorName) {
    background-image: url("../assets/graphics/scene/world/matte/patterns/@{colorName}.jpg");
}

body {
    margin:  0;
    padding: 0;
    font-family: Noto-Sans;
}

#github-ribbon {
    position: fixed;
    top:      0;
    right:    0;
    border:   0;
    z-index:  @zGithub;
}

.welcome-container {
    background-color: #000000;
    padding:          50px 0;
    .backgroundPattern('orange');
}

.game-container {
    position:          relative;
    width:             100%;
    overflow:          hidden;

    &.fixed {
        position: fixed;
        top:      0;
        bottom:   0;
        height:   auto !important;
    }
    background-color:  @cMatteBlue;
    background-image:  url("../assets/graphics/scene/world/matte/patterns/blue.jpg");
    background-repeat: repeat;

}

.tag-cloud {
    li {
        display: block;
        float:   left;
    }
}

#level-bg-way-to-school {
    background-color: #000000;
}