@cMainBlue: #00a2ff;
@cMainGreen: #72ff00;
@cMainPink: #ff0084;
@cMainYellow: #ffc600;

@cMatteWhite: #e7e7e5;
@cMatteYellow: #f6c74b;
@cMatteOrange: #f6943f;
@cMattePink: #c75093;
@cMatteBlue: #15a2c1;
@cMatteGreen: #8dc45c;

@zHud: 90;
@zGithub: 100;

.backgroundPattern(@colorName) {
    background-image: url("../assets/graphics/scene/world/matte/patterns/@{colorName}.jpg");
}

body {
    margin:  0;
    padding: 0;
}

* {
    color: #ffffff;
}

*:hover {
    -box-shadow: 0 0 20px 20px red;
}

#github-ribbon {
    position: fixed;
    top:      0;
    right:    0;
    border:   0;
    z-index:  @zGithub;
}

.welcome-container {
    background-color: #000000;
    padding:          50px 0;
    .backgroundPattern('orange');
}

.game-container {
    position:          relative;
    width:             100%;
    overflow:          hidden;

    &.fixed {
        position: fixed;
        top:      0;
        bottom:   0;
        height:   auto !important;
    }
    background-color:  @cMatteBlue;
    background-image:  url("../assets/graphics/scene/world/matte/patterns/blue.jpg");
    background-repeat: repeat;

    .powerUp() {
        position:         absolute;
        color:            black;
        width:            50px;
        height:           50px;
        background-color: #ffff00;
    }

    .scene {
        top:      0;
        // right    : 0;
        bottom:   0;
        left:     0;
        position: absolute;

        .level-wrapper {

            .level {
                top:      0;
                right:    0;
                bottom:   0;
                left:     0;
                position: absolute;
                display:  none;
                overflow: hidden;

                &.visible {
                    display: block
                }

                .layer {
                    position: absolute;
                    height:   100%;
                    //top: 0px !important;

                    .sprite-wrapper {
                        position: relative;
                        width:    100%;
                        height:   100%;

                        .sprite {
                            position: absolute;

                            &.image-background {
                                background-size: contain
                            }
                            &.colored {
                                .bgBlurred(@color, @colorName) {
                                    border-image:     url("../assets/graphics/scene/world/matte/blurred-patterns/@{colorName}.png") 80 80 repeat;
                                    background-color: @color;
                                }
                                &.white {
                                    .backgroundPattern('white')
                                }
                                &.yellow {
                                    .backgroundPattern('yellow')
                                }
                                &.pink {
                                    .backgroundPattern('pink')
                                }
                                &.green {
                                    .backgroundPattern('green')
                                }
                                &.orange {
                                    .backgroundPattern('orange')
                                }
                                &.blue {
                                    .backgroundPattern('blue')
                                }

                                &.blurred {
                                    border:            80px solid transparent;
                                    -background-image: none;
                                    -background-color: @cMatteYellow;
                                    box-sizing:        padding-box;
                                    background-clip:   padding-box;

                                    &.white {
                                        .bgBlurred(@cMatteWhite, 'white')
                                    }
                                    &.yellow {
                                        .bgBlurred(@cMatteYellow, 'yellow')
                                    }
                                    &.pink {
                                        .bgBlurred(@cMattePink, 'pink')
                                    }
                                    &.green {
                                        .bgBlurred(@cMatteGreen, 'green')
                                    }
                                    &.orange {
                                        .bgBlurred(@cMatteOrange, 'orange')
                                    }
                                    &.blue {
                                        .bgBlurred(@cMatteBlue, 'blue')
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .player-layer {
            position: relative;
            height:   100%;

            .player {
                position:          absolute;
                background-repeat: no-repeat;
            //    width:             100px !important;
             //   height:            100px !important;
            //    background:        #ff0084 !important;
                .statefulAge(@theme, @state) {
                    background: url("../assets/graphics/scene/player/@{theme}/@{state}.gif");
                }
                .age(@name) {
                    .statefulAge(@name, "stand");
                    &.walking {
                        .statefulAge(@name, "walk-forward");
                    }
                    &.walking.backwards {
                        .statefulAge(@name, "walk-backwards");
                    }
                }
                &.baby {
                    .age("baby");
                }
                &.child {
                    .age("child");
                }
                &.teen {
                    .age("teen");
                }
                &.adult {
                    .age("adult");
                }

            }
            .powerUp { .powerUp() }
        }
    }
    .hud {
        z-index:  @zHud;
        top:      0;
        right:    0;
        bottom:   0;
        left:     0;
        position: absolute;

        .skill() {
            margin:     2px;
            display:    inline-block;
            padding:    0 0 0 13px;
            transition: font-size 500ms;
            background: url("../assets/graphics/hud/skills/levels/beginner.gif") 0px 50% no-repeat;

            &.unknown {
                font-size: 0;
                height:    0;
                width:     0;
                display:   none
            }
            &.beginner {
                font-size: 10px;
                color:     @cMainGreen;
            }
            &.intermediate {
                font-size:        20px;
                background-image: url("../assets/graphics/hud/skills/levels/intermediate.gif");
                padding-left:     20px;
                color:            @cMainBlue;
            }
            &.expert {
                font-size:        30px;
                background-image: url("../assets/graphics/hud/skills/levels/expert.gif");
                padding-left:     34px;
                color:            @cMainYellow;
            }
            &.master {
                font-size:        40px;
                background-image: url("../assets/graphics/hud/skills/levels/master.gif");
                padding-left:     46px;
                color:            @cMainPink;
            }
        }

        .powerUp { .powerUp() }

        .dev-info {
            cursor:           pointer;
            position:         absolute;
            right:            0;
            width:            130px;
            bottom:           40%;
            background-color: #000000;
            font-family:      monospace, sans-serif;
            padding:          20px 0 20px 30px;
        }

        .skill-basket {
            display:          block;
            position:         absolute;
            bottom:           0;
            background-color: #000000;
            left:             15%;
            height:           200px;
            width:            45%;
            margin:           0;
            padding:          0;

            li { .skill() }
        }
        .skill-basket-info {
            left:    0;
            bottom:  0;
            width:   15%;
            height:  160px;
            margin:  0px;
            padding: 20px;
        }
        .timeline {
            right:            0;
            width:            40%;
            height:           200px;
            padding:          0;
            bottom:           0;
            position:         absolute;
            background-color: #000000;

            .event-wrapper {
                .event {
                    margin:           20px 0;
                    background-color: #000000;
                    font-family:      sans-serif;
                    font-weight:      normal;
                    background:       url("../assets/graphics/hud/timeline/timeline-avatar-01.gif") no-repeat 0 0;

                    h3 {
                        margin:      0 0 0 50px;
                        padding:     0;
                        font-weight: normal;
                        .name { font-weight: bold; color: #00a2ff }
                    }
                    p.timestamp {
                        margin:  0 0 0 50px;
                        padding: 0;
                        color:   #999999;
                    }
                    p.message {
                        margin:  0;
                        padding: 5px 0;
                    }
                }
            }
        }
        .year-display {
            position:    absolute;
            top:         10px;
            left:        10px;
            font-size:   100px;
            font-weight: bold;
        }
        .height-display {
            position:    absolute;
            top:         150px;
            left:        10px;
            font-size:   100px;
            font-weight: bold;
            &:after {
                content: 'cm'
            }
        }
    }
}

.tag-cloud {
    li {
        display: block;
        float:   left;
    }
}

.level.background.level-02 {
    background-color: #000000;
}