@import "imports";
@import "hud";
@import "scene/scene";
@import "fonts";
@import "debug";

.backgroundPattern(@colorName) {
    background-image: url("../assets/graphics/scene/world/matte/patterns/@{colorName}.jpg");
}

body {
    margin:      0;
    padding:     0;
    font-family: Noto-Sans;
}

#github-ribbon {
    position: fixed;
    top:      0;
    right:    0;
    border:   0;
    z-index:  @zGithub;
}

.welcome-container {
    background-color: #000000;
    padding:          50px 0;
    .backgroundPattern('orange');
}

.game-container {
    position: relative;
    width:    100%;
    overflow: hidden;

    &.fixed {
        position: fixed;
        top:      0;
        bottom:   0;
        height:   auto !important;
    }
}

.tag-cloud {
    li {
        display: block;
        float:   left;
    }
}

#level-bg-way-to-school {
    background-color: #000000;
}

.animation-active {
    animation-play-state: running !important;
    animation-fill-mode:  forwards;
}

#sprite-university-sky-sky {
    transition: opacity @fxEaseInOutQuad 3s;
    opacity:    0;
    &.fx-visible { opacity: 1 }
    &.fx-instantly-hidden { transition-duration: 0ms; opacity: 0 }
}

#sprite-university-celestialBodies-sun {
    transition: top @fxEaseInOutQuad 3s;
    &.fx-visible { top: -500px !important }
}

#sprite-university-celestialBodies-star01,
#sprite-university-celestialBodies-star02,
#sprite-university-celestialBodies-star03,
#sprite-university-celestialBodies-star04 {
    transition: opacity @fxEaseInOutQuad 3s;
    &.fx-hidden { opacity: 0 }
}

#sprite-move-to-hamburg-skyAndDistantShipsAndSeaGulls-sky {
    transition: opacity @fxEaseInOutQuad 3s;
    &.fx-hidden { opacity: 0 }
}

#sprite-move-to-hamburg-skyAndDistantShipsAndSeaGulls-sun {
    transition:          @fxEaseInOutQuad 5s;
    transition-property: opacity, top;
    .fx-to-top { top: -300px }
}

#sprite-move-to-hamburg-mountainAndShips-sailShip { animation: move-to-hamburg-ship-ltr 120s @fxEaseInOutQuad paused; }

#sprite-move-to-hamburg-mountainAndShips-cargoShip01 { animation: move-to-hamburg-ship-ltr 60s @fxEaseInOutQuad paused; }

#sprite-move-to-hamburg-mountainAndShips-cargoShip02 { animation: move-to-hamburg-ship-rtl 60s @fxEaseInOutQuad paused; }

#sprite-move-to-hamburg-skyAndDistantShipsAndSeaGulls-seagull01 { animation: move-to-hamburg-seagull-ltr 120s @fxEaseInOutQuad paused; }

#sprite-move-to-hamburg-skyAndDistantShipsAndSeaGulls-seagull02 { animation: move-to-hamburg-seagull-ltr 90s @fxEaseInOutQuad paused; }

#sprite-move-to-hamburg-skyAndDistantShipsAndSeaGulls-seagull03 { animation: move-to-hamburg-seagull-ltr 60s @fxEaseInOutQuad paused; }

@keyframes move-to-hamburg-ship-ltr {
    from { left: 0 }
    to { left: 500px }
}

@keyframes move-to-hamburg-ship-rtl {
    from { left: 300px }
    to { left: 0 }
}

@keyframes move-to-hamburg-seagull-ltr {
    from { left: 0 }
    to { left: 2500px }
}