@cMainBlue: #00a2ff;
@cMainGreen: #72ff00;
@cMainPink: #ff0084;
@cMainYellow: #ffc600;

@zHud: 90;
@zGithub: 100;
 
body {
    margin: 0;
    padding: 0;
    background-color: #000000
}
* {
    color: #ffffff;
}
*:hover {
    -box-shadow: 0 0 20px 20px red;
}
#github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: @zGithub;
}
#container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;    
    background-color: #000000;
    
    #scene {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        
        .layer {
            position: absolute;
            height: 100%;
            .sprite-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                
                .sprite {
                    position: absolute;
					&.colored {
						.bg(@color) {
							background-image: url("assets/graphics/scene/world/matte/@{color}.jpg");	
						}
						&.white { .bg(white) }
						&.yellow{ .bg(yellow) }
						&.pink  { .bg(pink) }
						&.green { .bg(green) }
						&.orange{ .bg(orange) }
						&.blue  { .bg(blue) }
					}
                }
            }
        }
        .foreground {
            position: relative;
            height: 100%;
            
            .player {
                position: absolute;
                background-repeat: no-repeat;
                .statefulAge(@theme, @state) {
                    background: url("assets/graphics/scene/player/@{theme}/@{state}.gif");
                }
                .age(@name) {
                    .statefulAge(@name, "stand");
                    &.walking {
                        .statefulAge(@name, "walk-forward");
                    }
                    &.walking.backwards {
                        .statefulAge(@name, "walk-backwards");
                    }
                }
                &.baby {
                    .age("baby");
                }
                &.child{
                    .age("child");
                }
                &.teen {
                    .age("teen");
                }
                &.adult{
                    .age("adult");
                }
                
            }
            .powerup {
                position: absolute;
                color: black;
                width: 50px;
                height: 50px;
                background-color: #FFFF00;
            }
        }
    }
    #hud {
        z-index: @zedHud;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000099;
        position: absolute;
        
        .skill() {
            margin: 2px;
            display: block;
            padding: 0 0 0 13px; 
            transition: font-size 500ms;
            background: url("assets/graphics/hud/skills/levels/beginner.gif") 0px 50% no-repeat;
            
            &.unknown { font-size: 0; height: 0; width: 0; display: none }
            &.beginner {
                font-size: 10px;
                color: @cMainGreen;
            }
            &.intermediate {
                font-size: 20px;
                background-image: url("assets/graphics/hud/skills/levels/intermediate.gif");
                padding-left: 20px;
                color: @cMainBlue;
            }
            &.expert {
                font-size: 30px;
                background-image: url("assets/graphics/hud/skills/levels/expert.gif");
                padding-left: 34px;
                color: @cMainYellow;
            }
            &.master {
                font-size: 40px;
                background-image: url("assets/graphics/hud/skills/levels/master.gif");
                padding-left: 46px;
                color: @cMainPink;
            }
            
        }
        
        .skill-basket {
            display: block;
            position: absolute;
            left: 500px;
            top: 0;
            width: 320px;
            
            li {
                .skill();
                float: left;
            }
        }
        .skill-basket-info {
            position: absolute;
            left: 230px;
            top: 0;
            li {
                .skill();                
            }
        }
        #year {
            position: fixed;
            top: 10px;
            left: 10px;
            font-size: 100px;
            font-weight: bold;
        }        
        #height {
            position: fixed;
            top: 150px;
            left: 10px;
            font-size: 100px;
            font-weight: bold;
        	&:after {
				content: 'cm'
        	}
        }        
    }
}

.tag-cloud {
    li {
        display: block;
        float: left;
        
    }
}
