@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.flaticon-baby91:before {
	content: "\e000";
}
.flaticon-ball23:before {
	content: "\e001";
}
.flaticon-bear11:before {
	content: "\e002";
}
.flaticon-bedroom2:before {
	content: "\e003";
}
.flaticon-beer17:before {
	content: "\e004";
}
.flaticon-beer23:before {
	content: "\e005";
}
.flaticon-black296:before {
	content: "\e006";
}
.flaticon-blank32:before {
	content: "\e007";
}
.flaticon-building78:before {
	content: "\e008";
}
.flaticon-building80:before {
	content: "\e009";
}
.flaticon-buildings2:before {
	content: "\e00a";
}
.flaticon-buildings5:before {
	content: "\e00b";
}
.flaticon-children1:before {
	content: "\e00c";
}
.flaticon-christmas128:before {
	content: "\e00d";
}
.flaticon-classical:before {
	content: "\e00e";
}
.flaticon-cloudstorage:before {
	content: "\e00f";
}
.flaticon-cloud316:before {
	content: "\e010";
}
.flaticon-cloud34:before {
	content: "\e011";
}
.flaticon-cloud46:before {
	content: "\e012";
}
.flaticon-couple17:before {
	content: "\e013";
}
.flaticon-cradle1:before {
	content: "\e014";
}
.flaticon-dark26:before {
	content: "\e015";
}
.flaticon-desk1:before {
	content: "\e016";
}
.flaticon-dinosaur16:before {
	content: "\e017";
}
.flaticon-drink24:before {
	content: "\e018";
}
.flaticon-dwelling1:before {
	content: "\e019";
}
.flaticon-factory1:before {
	content: "\e01a";
}
.flaticon-factory7:before {
	content: "\e01b";
}
.flaticon-flowers12:before {
	content: "\e01c";
}
.flaticon-gingerbread3:before {
	content: "\e01d";
}
.flaticon-grass:before {
	content: "\e01e";
}
.flaticon-home18:before {
	content: "\e01f";
}
.flaticon-home60:before {
	content: "\e020";
}
.flaticon-home63:before {
	content: "\e021";
}
.flaticon-home78:before {
	content: "\e022";
}
.flaticon-home87:before {
	content: "\e023";
}
.flaticon-hotel68:before {
	content: "\e024";
}
.flaticon-house158:before {
	content: "\e025";
}
.flaticon-house28:before {
	content: "\e026";
}
.flaticon-house4:before {
	content: "\e027";
}
.flaticon-house58:before {
	content: "\e028";
}
.flaticon-lamp:before {
	content: "\e029";
}
.flaticon-leaves9:before {
	content: "\e02a";
}
.flaticon-lego:before {
	content: "\e02b";
}
.flaticon-lego2:before {
	content: "\e02c";
}
.flaticon-lego3:before {
	content: "\e02d";
}
.flaticon-livingroom12:before {
	content: "\e02e";
}
.flaticon-livingroom16:before {
	content: "\e02f";
}
.flaticon-man288:before {
	content: "\e030";
}
.flaticon-meeting1:before {
	content: "\e031";
}
.flaticon-men16:before {
	content: "\e032";
}
.flaticon-milk2:before {
	content: "\e033";
}
.flaticon-mountain13:before {
	content: "\e034";
}
.flaticon-moutain:before {
	content: "\e035";
}
.flaticon-number19:before {
	content: "\e036";
}
.flaticon-office17:before {
	content: "\e037";
}
.flaticon-offices:before {
	content: "\e038";
}
.flaticon-piggy12:before {
	content: "\e039";
}
.flaticon-radio42:before {
	content: "\e03a";
}
.flaticon-rubix:before {
	content: "\e03b";
}
.flaticon-school47:before {
	content: "\e03c";
}
.flaticon-school50:before {
	content: "\e03d";
}
.flaticon-shop4:before {
	content: "\e03e";
}
.flaticon-small164:before {
	content: "\e03f";
}
.flaticon-softdrinks1:before {
	content: "\e040";
}
.flaticon-spain:before {
	content: "\e041";
}
.flaticon-speech141:before {
	content: "\e042";
}
.flaticon-store5:before {
	content: "\e043";
}
.flaticon-street1:before {
	content: "\e044";
}
.flaticon-street9:before {
	content: "\e045";
}
.flaticon-summer:before {
	content: "\e046";
}
.flaticon-table6:before {
	content: "\e047";
}
.flaticon-teddy:before {
	content: "\e048";
}
.flaticon-three100:before {
	content: "\e049";
}
.flaticon-traffic15:before {
	content: "\e04a";
}
.flaticon-tree101:before {
	content: "\e04b";
}
.flaticon-tree65:before {
	content: "\e04c";
}
.flaticon-tree79:before {
	content: "\e04d";
}
.flaticon-wall3:before {
	content: "\e04e";
}
.flaticon-wine30:before {
	content: "\e04f";
}
.flaticon-work3:before {
	content: "\e050";
}
